PORT=8081
DATABASE_URL=postgresql://root@localhost:26257/defaultdb?sslmode=disable
COCKROACH_HOST=localhost
COCKROACH_PORT=26257
COCKROACH_USER=root
COCKROACH_DATABASE=defaultdb
COCKROACH_SSLMODE=disable